body.night-mode {
  background-color: #011627;
  color: #d6deeb;
}

body.night-mode button {
  background-color: #1d3b53;
  color: #d6deeb;
}

body {
  font-size: 150%;
  line-height: 1.8;
  text-align: center;
}

ul#habit-list li {
  white-space: pre;
  font-size: 1.2em;
  margin-bottom: 15px;
  list-style-type: none;
}

ul#habit-list li button {
  margin-left: 10px;
  width: 70px;
  text-align: center;
}

h2 {
  letter-spacing: 0.0em;
  word-spacing: 1.5em;
}